body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.wraper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
  color: #fff;
}

.user_photo {
  width: 240px;
  height: 275px;
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar_info {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.contacts_p {
  margin: 0px;
}

.contacts_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

.contacts_type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
  margin-top: 1px;
}

.contacts_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.u_list {
  padding: 0px;
  margin-left: 17px;
  color: #fb6d3a;
  margin-top: 8px;
}

.skills_text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.main_info {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px 105px 90px;
}

.user_info {
  margin-bottom: 40px;
}

.us_title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.us_name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.us_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

.all_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 12px;
}

.all_list {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-left: 17px;
}

.pr_li,
.pr_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.pr_b {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.line_b {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.projects {
  margin-bottom: 50px;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.orange_txt {
  color: #fb6d3a;
}

.period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.gray_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work {
  margin-bottom: 20px;
}

.work_experience {
  margin-bottom: 45px;
}

h5 {
  margin: 0px;
  padding: 6px 0px 6px 0px;
}
